<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスクボード管理</title>
<link rel="stylesheet" type="text/css" href="/cascade.css">
</head>
<body>

<h2>タスクボード管理</h2>

<!-- タスクボード名変更フォーム -->
<form action="/editTBname" method="post">
	<div class="text">タスクボード名の変更</div>
	<input type="text" name="tbName">
	<input type="submit" value="変更">
	<br>
	<span th:text="${message1}" style="color:red"></span>
</form>

<!-- メンバー追加フォーム (現段階では一人ずつしかできない)-->
<form action="/addMember" method="post">
	<div class="text">メンバーの追加</div>
	<input type="text" name="loginId" placeholder="追加するユーザのＩＤ">
	<input type="submit" value="追加">
	<br>
	<span th:text="${message2}" style="color:red"></span>
</form>

<!-- メンバー一覧 -->
<table border="1" class="table2">
	<caption>メンバー一覧</caption>
	<tr><th>名前<th>削除</tr>
	<tr th:each="belongsBoard:${group}">
		<td th:text="${belongsBoard.user.name}">
		<th><a th:href="'/deleteMember/'+${belongsBoard.key.userId}">削除</a>
	</tr>
</table>

<br><br><br><br><br><br><br><br><div class="text">このタスクボードを削除する</div><br>
<form action="/deleteTB" method="get">
	<input type="hidden" name="taskBoardId" th:value="${session.taskBoardInfo.id}">
	<input type="submit" value="削除">	
</form>

</body>
</html>