<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク編集</title>
<link rel="stylesheet" type="text/css" href="/cascade.css">
</head>
<body>

<h2>タスクを編集してください</h2>

<form action="/editTask" method="post">
    　　<div class="text">タイトル</div>
	<input type="text" name="title"><br>
	<div class="text">作業内容：</div>
	<textarea name="contents"></textarea><br>
	<div class="text">優先順位</div>
	<input type="text" name="priority"><br>
	<div class="text">作業量</div>
	<input type="text" name="storyPoint"><br>
	<div class="text">完了基準</div>
	<textarea name="completionCriteria"></textarea><br>
	
	<input type="hidden" name="taskId" th:value="${taskId}">
	<input type="submit" value="編集">
	<br>
	<span th:text="${message}" style="color:red"></span>
</form>
<br><br><br><br><br><br><br><br>
<div class="text">このタスクを削除する</div>
<form action="/deleteTask" method="get">
	<input type="hidden" name="taskId" th:value="${taskId}">
	<input type="submit" value="削除">	
</form>

</body>
</html>