<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク編集</title>
</head>
<body>

<h2>タスクを編集してください</h2>

<form action="/editTask" method="post">
    　　タイトル：
	<input type="text" name="title"><br>
	作業内容：
	<textarea name="contents"></textarea><br>
	優先順位：
	<input type="text" name="priority"><br>
	作業量：
	<input type="text" name="storyPoint"><br>
	完了基準：
	<textarea name="completionCriteria"></textarea><br>
	
	<input type="hidden" name="taskId" th:value="${taskId}">
	<input type="submit" value="編集">
	<br>
	<span th:text="${message}" style="color:red"></span>
</form>
<br><br><br><br><br><br><br><br>このタスクを削除する<br>
<form action="/deleteTask" method="get">
	<input type="hidden" name="taskId" th:value="${taskId}">
	<input type="submit" value="削除">	
</form>

</body>
</html>