<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>マイページ</title>
<link rel="stylesheet" type="text/css" href="/cascade.css">
</head>
<body>
<div class="text">
	<span th:text="${session.userInfo.name}"></span>さん、お帰りなさい！
</div>

<!-- タスクボード作成ボタン -->
<form action="/newTaskBoard" method="get">
	<input type="submit" value="タスクボード作成">
</form>

<!-- ユーザ情報変更ボタン -->
<form action="/editUser" method="get">
	<input type="submit" value="ユーザ情報変更">
</form>

<!-- 自身が所属するタスクボード一覧 -->
<table border="1">
	<caption>あなたが所属するタスクボード一覧</caption>
	<tr><th>名前<th>削除</tr>
	<tr th:each="belongsBoard:${group}">
		<td><a th:href="'/taskBoard/'+${belongsBoard.key.boardId}"><span th:text="${belongsBoard.board.name}"></span></a>
		<td><a th:href="'/withdraw/'+${belongsBoard.key.boardId}">削除</a>
	</tr>
</table><br>
<div class="text"><span th:text="${message}" style="color:red"></span></div>


<!-- ログアウトURL -->
<div class="link">
	<a href="/logout">ログアウト</a>
</div>

</body>
</html>