<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク追加</title>
<link rel="stylesheet" type="text/css" href="/cascade.css">
</head>
<body>

<h2>新しいタスクを作成してください</h2>

<form action="/newTask" method="post">
    　　<div class="text">タイトル</div>
	<input type="text" name="title"><br>
	<div class="text">作業内容</div>
	<textarea name="contents"></textarea><br>
	<div class="text">優先順位</div>
	<input type="text" name="priority"><br>
	<div class="text">作業量</div>
	<input type="text" name="storyPoint"><br>
	<div class="text">完了基準</div>
	<textarea name="completionCriteria"></textarea><br>
	<input type="submit" value="作成"> 
	<br>
</form>
	<div class="text"><span th:text="${message}" style="color:red"></span></div>


</body>
</html>