<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link rel="stylesheet" type="text/css" href="/cascade.css">
</head>
<body>

<h2>Welcome to Simple Task Board!!</h2>


<form action="/login" method="post">
<div class="input">
　　　<div class="text">ログインID</div>
	<input type="text" name="loginId"><br>
</div>
<div class="input">
	<div class="text">パスワード</div>
	<input type="password" name="password"><br>
</div>
	<input type="submit" value="ログイン">
	<br>
	<span th:text="${message}" style="color:red"></span><br>
</form>

<div class="link">
	<a href="/newUser" id="aTag">新規登録</a>
</div>

</body>
</html>